.check-item {
    // background-color: #ff9c9c;
    background-color: var(--bs-gray-300);
    width: 1.8rem;
    height: 1.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    transition: 0.2s;
    i {
        color: white;
    }
    &.active {
        background-color: var(--bs-active-primary);
    }
    &.selector {
        cursor: pointer;
    }
}